[user]
	name = RomaRS
	email = romars@phystech.edu
[core]
	editor = emacs
	autocrlf = true
	excludesfile = /home/Spiridonov/.gitexcludes
[help]
	autocorrect = 1
[color]
	ui = auto
[code]
	editor = emacs
[alias]
	lga = log --graph --oneline --all --decorate
[push]
	default = simple
[merge]
	tool = emerge
[diff]
	;external = extDiff.sh
[mergetool "kdiff3"]
	cmd = kdiff3 $BASE $LOCAL $REMOTE -o $MERGED
[difftool "kdiff3"]
	cmd = kdiff3 \"$(cygpath -wla $LOCAL)\" \"$(cygpath -wla $REMOTE)\"
[mergetool "intellij"]
	cmd = intellij_merge.sh $LOCAL $REMOTE $BASE $MERGED
	;trustExitCode = false
[difftool "intellij"]
	cmd = intellij_diff.sh $LOCAL $REMOTE