[user]
	name = RomaRS
	email = romars@phystech.edu
[core]
	editor = emacs
	autocrlf = true
	excludesfile = /home/Spiridonov/.gitexcludes
[help]
	autocorrect = 1
[color]
	ui = auto
[code]
	editor = emacs
[alias]
	lga = log --graph --oneline --all --decorate
[merge]
	tool = emerge
[push]
	default = simple
