include ~/dotfiles/syntax-nanorc/apache2.nanorc
include ~/dotfiles/syntax-nanorc/apacheconf.nanorc
include ~/dotfiles/syntax-nanorc/asm.nanorc
include ~/dotfiles/syntax-nanorc/c-file.nanorc
include ~/dotfiles/syntax-nanorc/c.nanorc
include ~/dotfiles/syntax-nanorc/changelog.nanorc
include ~/dotfiles/syntax-nanorc/changelogs.nanorc
include ~/dotfiles/syntax-nanorc/clike.nanorc
include ~/dotfiles/syntax-nanorc/conf.nanorc
include ~/dotfiles/syntax-nanorc/config.nanorc
include ~/dotfiles/syntax-nanorc/config2.nanorc
include ~/dotfiles/syntax-nanorc/config3.nanorc
include ~/dotfiles/syntax-nanorc/configfiles.nanorc
include ~/dotfiles/syntax-nanorc/conky.nanorc
include ~/dotfiles/syntax-nanorc/css.nanorc
include ~/dotfiles/syntax-nanorc/debian.nanorc
include ~/dotfiles/syntax-nanorc/delphi.nanorc
include ~/dotfiles/syntax-nanorc/html.nanorc
include ~/dotfiles/syntax-nanorc/httpstatuscodes.nanorc
include ~/dotfiles/syntax-nanorc/info.nanorc
include ~/dotfiles/syntax-nanorc/ini.nanorc
include ~/dotfiles/syntax-nanorc/initng.nanorc
include ~/dotfiles/syntax-nanorc/initscript.nanorc
include ~/dotfiles/syntax-nanorc/java.nanorc
include ~/dotfiles/syntax-nanorc/js.nanorc
include ~/dotfiles/syntax-nanorc/log-stuff.nanorc
include ~/dotfiles/syntax-nanorc/makefile.nanorc
include ~/dotfiles/syntax-nanorc/man.nanorc
include ~/dotfiles/syntax-nanorc/mcchangelog.nanorc
include ~/dotfiles/syntax-nanorc/mimetype.nanorc
include ~/dotfiles/syntax-nanorc/mutt.nanorc
include ~/dotfiles/syntax-nanorc/named.nanorc
include ~/dotfiles/syntax-nanorc/nanorc.nanorc
include ~/dotfiles/syntax-nanorc/nscd.nanorc
include ~/dotfiles/syntax-nanorc/others.nanorc
include ~/dotfiles/syntax-nanorc/paludis.nanorc
include ~/dotfiles/syntax-nanorc/passwd.nanorc
include ~/dotfiles/syntax-nanorc/patch.nanorc
include ~/dotfiles/syntax-nanorc/perl.nanorc
include ~/dotfiles/syntax-nanorc/php.nanorc
include ~/dotfiles/syntax-nanorc/php2.nanorc
include ~/dotfiles/syntax-nanorc/plaudis.nanorc
include ~/dotfiles/syntax-nanorc/po.nanorc
include ~/dotfiles/syntax-nanorc/postgresql.nanorc
include ~/dotfiles/syntax-nanorc/pov.nanorc
include ~/dotfiles/syntax-nanorc/privoxy.nanorc
include ~/dotfiles/syntax-nanorc/profile.nanorc
include ~/dotfiles/syntax-nanorc/python.nanorc
include ~/dotfiles/syntax-nanorc/rcfiles-new.nanorc
include ~/dotfiles/syntax-nanorc/rcfiles.nanorc
include ~/dotfiles/syntax-nanorc/rsync.nanorc
include ~/dotfiles/syntax-nanorc/ruby.nanorc
include ~/dotfiles/syntax-nanorc/sh.nanorc
include ~/dotfiles/syntax-nanorc/shlike.nanorc
include ~/dotfiles/syntax-nanorc/softcam.nanorc
include ~/dotfiles/syntax-nanorc/tab.nanorc
include ~/dotfiles/syntax-nanorc/tcl.nanorc
include ~/dotfiles/syntax-nanorc/tex.nanorc
include ~/dotfiles/syntax-nanorc/urls.nanorc
include ~/dotfiles/syntax-nanorc/vhost.nanorc
include ~/dotfiles/syntax-nanorc/xdefaults.nanorc
include ~/dotfiles/syntax-nanorc/xml.nanorc
