#
# .nanorc - intended for use with Cygwin
#
 
 
# Set autoindentation, and tabsize - the default is 8.
set autoindent
set tabsize 4
 
# Set smooth scrolling by default
set smooth
 
# Stops nano from breaking long lines into smaller ones.
set nowrap
 
# Add Syntax highlighting. Comment out any you don't want.
include "/usr/share/nano/*.nanorc"
# include "~/devops/dotfiles/syntax-nanorc/*.nanorc"

# See 'man nanorc' for more options.
